node_modules/

dist/

api-keys.json
.env

raidhub-api-db

#ignore intelliJ IDE configs
.idea/

test.js

*.log

*.deb
*.dbml

*.sql
!prisma/1_extensions/migration.sql
!prisma/2_schema/migration.sql
!prisma/3_data/migration.sql
!prisma/4_materialized-views/migration.sql
!prisma/5_functions/migration.sql

/open-api/*.html
coverage/*

