{
  "openapi": "3.0.0",
  "info": {
    "title": "RaidHub API",
    "description": "The Semi-public API for RaidHub",
    "version": "1.0.0",
    "contact": {
      "name": "RaidHub Admin",
      "email": "admin@raidhub.io"
    }
  },
  "servers": [
    {
      "url": "https://api.raidhub.io"
    }
  ],
  "security": [
    {
      "API Key": []
    }
  ],
  "components": {
    "schemas": {
      "ErrorCode": {
        "type": "string",
        "enum": [
          "Unknown",
          "ApiKeyError",
          "PathValidationError",
          "QueryValidationError",
          "BodyValidationError",
          "PlayerNotFoundError",
          "InstanceNotFoundError",
          "PGCRNotFoundError",
          "LeaderboardNotFoundError",
          "PlayerNotOnLeaderboardError",
          "RaidNotFoundError",
          "PantheonVersionNotFoundError",
          "InvalidActivityVersionComboError",
          "AdminQuerySyntaxError",
          "InsufficientPermissionsError",
          "InvalidClientSecretError",
          "InternalServerError"
        ]
      },
      "RaidHubResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "minted": {
                "type": "string",
                "format": "date-time"
              },
              "success": {
                "type": "boolean",
                "enum": [true]
              },
              "response": {
                "nullable": true
              }
            },
            "required": ["minted", "success"],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "minted": {
                "type": "string",
                "format": "date-time"
              },
              "success": {
                "type": "boolean",
                "enum": [false]
              },
              "errorCode": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "error": {
                "nullable": true
              }
            },
            "required": ["minted", "success", "errorCode"],
            "additionalProperties": false
          }
        ]
      },
      "ApiKeyError": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "errorCode": {
            "type": "string",
            "enum": ["ApiKeyError"]
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "anyOf": [
                  {
                    "type": "string",
                    "enum": ["Invalid API Key"]
                  },
                  {
                    "type": "string",
                    "enum": ["Missing API Key"]
                  }
                ]
              },
              "apiKey": {
                "type": "string",
                "nullable": true
              },
              "origin": {
                "type": "string",
                "nullable": true
              }
            },
            "required": ["message", "apiKey", "origin"]
          }
        },
        "required": ["minted", "success", "errorCode", "error"]
      },
      "ZodIssue": {
        "type": "object",
        "properties": {
          "fatal": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "path": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            }
          },
          "code": {
            "type": "string",
            "enum": [
              "invalid_type",
              "invalid_literal",
              "custom",
              "invalid_union",
              "invalid_union_discriminator",
              "invalid_enum_value",
              "unrecognized_keys",
              "invalid_arguments",
              "invalid_return_type",
              "invalid_date",
              "invalid_string",
              "too_small",
              "too_big",
              "invalid_intersection_types",
              "not_multiple_of",
              "not_finite"
            ]
          }
        },
        "required": ["message", "path", "code"]
      },
      "BodyValidationError": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "errorCode": {
            "type": "string",
            "enum": ["BodyValidationError"]
          },
          "error": {
            "type": "object",
            "properties": {
              "issues": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ZodIssue"
                }
              }
            },
            "required": ["issues"]
          }
        },
        "required": ["minted", "success", "errorCode", "error"]
      },
      "InsufficientPermissionsError": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "errorCode": {
            "type": "string",
            "enum": ["InsufficientPermissionsError"]
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "enum": ["Forbidden"]
              }
            },
            "required": ["message"]
          }
        },
        "required": ["minted", "success", "errorCode", "error"]
      },
      "PathValidationError": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "errorCode": {
            "type": "string",
            "enum": ["PathValidationError"]
          },
          "error": {
            "type": "object",
            "properties": {
              "issues": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ZodIssue"
                }
              }
            },
            "required": ["issues"]
          }
        },
        "required": ["minted", "success", "errorCode", "error"]
      },
      "QueryValidationError": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "errorCode": {
            "type": "string",
            "enum": ["QueryValidationError"]
          },
          "error": {
            "type": "object",
            "properties": {
              "issues": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ZodIssue"
                }
              }
            },
            "required": ["issues"]
          }
        },
        "required": ["minted", "success", "errorCode", "error"]
      },
      "DestinyMembershipType": {
        "type": "integer",
        "enum": [0, 1, 2, 3, 4, 5, 6, -1],
        "externalDocs": {
          "url": "https://bungie-net.github.io/#/components/schemas/BungieMembershipType"
        }
      },
      "Instance": {
        "type": "object",
        "properties": {
          "instanceId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "hash": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "activityId": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "versionId": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "completed": {
            "type": "boolean"
          },
          "flawless": {
            "type": "boolean",
            "nullable": true
          },
          "fresh": {
            "type": "boolean",
            "nullable": true
          },
          "playerCount": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "dateStarted": {
            "type": "string",
            "format": "date-time"
          },
          "dateCompleted": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Activity duration in seconds"
          },
          "platformType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DestinyMembershipType"
              },
              {
                "description": "If all players are on the same platform, this will be the platform type. Otherwise, it will be `0`."
              }
            ]
          },
          "score": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "instanceId",
          "hash",
          "activityId",
          "versionId",
          "completed",
          "flawless",
          "fresh",
          "playerCount",
          "dateStarted",
          "dateCompleted",
          "duration",
          "platformType",
          "score"
        ],
        "additionalProperties": false
      },
      "InstanceMetadata": {
        "type": "object",
        "properties": {
          "activityName": {
            "type": "string"
          },
          "versionName": {
            "type": "string"
          },
          "isRaid": {
            "type": "boolean"
          }
        },
        "required": ["activityName", "versionName", "isRaid"]
      },
      "InstanceCharacterWeapon": {
        "type": "object",
        "properties": {
          "weaponHash": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "kills": {
            "type": "integer",
            "minimum": 0
          },
          "precisionKills": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": ["weaponHash", "kills", "precisionKills"],
        "additionalProperties": false
      },
      "InstanceCharacter": {
        "type": "object",
        "properties": {
          "characterId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "classHash": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d+n?$"
          },
          "emblemHash": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d+n?$"
          },
          "completed": {
            "type": "boolean"
          },
          "timePlayedSeconds": {
            "type": "integer",
            "minimum": 0
          },
          "startSeconds": {
            "type": "integer",
            "minimum": 0
          },
          "score": {
            "type": "integer",
            "minimum": 0
          },
          "kills": {
            "type": "integer",
            "minimum": 0
          },
          "deaths": {
            "type": "integer",
            "minimum": 0
          },
          "assists": {
            "type": "integer",
            "minimum": 0
          },
          "precisionKills": {
            "type": "integer",
            "minimum": 0
          },
          "superKills": {
            "type": "integer",
            "minimum": 0
          },
          "grenadeKills": {
            "type": "integer",
            "minimum": 0
          },
          "meleeKills": {
            "type": "integer",
            "minimum": 0
          },
          "weapons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstanceCharacterWeapon"
            }
          }
        },
        "required": [
          "characterId",
          "classHash",
          "emblemHash",
          "completed",
          "timePlayedSeconds",
          "startSeconds",
          "score",
          "kills",
          "deaths",
          "assists",
          "precisionKills",
          "superKills",
          "grenadeKills",
          "meleeKills",
          "weapons"
        ],
        "additionalProperties": false
      },
      "InstancePlayer": {
        "type": "object",
        "properties": {
          "completed": {
            "type": "boolean"
          },
          "isFirstClear": {
            "type": "boolean"
          },
          "sherpas": {
            "type": "integer",
            "minimum": 0
          },
          "timePlayedSeconds": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "completed",
          "isFirstClear",
          "sherpas",
          "timePlayedSeconds"
        ],
        "additionalProperties": false
      },
      "PlayerInfo": {
        "type": "object",
        "properties": {
          "membershipId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "membershipType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DestinyMembershipType"
              },
              {
                "nullable": true,
                "description": "The platform on which the player created their account."
              }
            ]
          },
          "iconPath": {
            "type": "string",
            "nullable": true
          },
          "displayName": {
            "type": "string",
            "nullable": true,
            "description": "The platform-specific display name of the player. No longer shown in-game."
          },
          "bungieGlobalDisplayName": {
            "type": "string",
            "nullable": true
          },
          "bungieGlobalDisplayNameCode": {
            "type": "string",
            "nullable": true
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "membershipId",
          "membershipType",
          "iconPath",
          "displayName",
          "bungieGlobalDisplayName",
          "bungieGlobalDisplayNameCode",
          "lastSeen"
        ],
        "additionalProperties": false,
        "example": {
          "bungieGlobalDisplayName": "Newo",
          "bungieGlobalDisplayNameCode": "9010",
          "membershipId": "4611686018488107374",
          "displayName": "xx_newo_xx",
          "iconPath": "/common/destiny2_content/icons/93844c8b76ea80683a880479e3506980.jpg",
          "membershipType": 3,
          "lastSeen": "2021-05-01T00:00:00.000Z"
        }
      },
      "InstancePlayerExtended": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InstancePlayer"
          },
          {
            "type": "object",
            "properties": {
              "playerInfo": {
                "$ref": "#/components/schemas/PlayerInfo"
              },
              "characters": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InstanceCharacter"
                }
              }
            },
            "required": ["playerInfo", "characters"],
            "additionalProperties": false
          }
        ]
      },
      "InstanceExtended": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Instance"
          },
          {
            "type": "object",
            "properties": {
              "metadata": {
                "$ref": "#/components/schemas/InstanceMetadata"
              },
              "players": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InstancePlayerExtended"
                }
              }
            },
            "required": ["metadata", "players"],
            "additionalProperties": false
          }
        ]
      },
      "TeamLeaderboardEntry": {
        "type": "object",
        "properties": {
          "position": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "rank": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "value": {
            "type": "number"
          },
          "instanceId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "players": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlayerInfo"
            }
          }
        },
        "required": ["position", "rank", "value", "instanceId", "players"]
      },
      "IndividualLeaderboardEntry": {
        "type": "object",
        "properties": {
          "position": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "rank": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "value": {
            "type": "number"
          },
          "playerInfo": {
            "$ref": "#/components/schemas/PlayerInfo"
          }
        },
        "required": ["position", "rank", "value", "playerInfo"]
      },
      "LeaderboardData": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["team"]
              },
              "format": {
                "type": "string",
                "enum": ["duration", "numerical"]
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TeamLeaderboardEntry"
                }
              }
            },
            "required": ["type", "format", "entries"]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["individual"]
              },
              "format": {
                "type": "string",
                "enum": ["duration", "numerical"]
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IndividualLeaderboardEntry"
                }
              }
            },
            "required": ["type", "format", "entries"]
          }
        ]
      },
      "RaidHubPostGameCarnageReport": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string",
            "format": "date-time"
          },
          "startingPhaseIndex": {
            "type": "number"
          },
          "activityWasStartedFromBeginning": {
            "type": "boolean"
          },
          "activityDetails": {
            "type": "object",
            "properties": {
              "directorActivityHash": {
                "type": "string",
                "pattern": "^\\d+n?$"
              },
              "instanceId": {
                "type": "string",
                "pattern": "^\\d+n?$"
              },
              "mode": {
                "type": "integer",
                "enum": [
                  0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19,
                  20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 37, 38, 39,
                  40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54,
                  55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
                  70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
                  85, 86, 87, 88, 89, 90, 91
                ]
              },
              "modes": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "enum": [
                    0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19,
                    20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 37, 38, 39,
                    40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54,
                    55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
                    70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
                    85, 86, 87, 88, 89, 90, 91
                  ]
                }
              },
              "membershipType": {
                "$ref": "#/components/schemas/DestinyMembershipType"
              }
            },
            "required": [
              "directorActivityHash",
              "instanceId",
              "mode",
              "modes",
              "membershipType"
            ]
          },
          "entries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "player": {
                  "type": "object",
                  "properties": {
                    "destinyUserInfo": {
                      "type": "object",
                      "properties": {
                        "iconPath": {
                          "type": "string",
                          "nullable": true
                        },
                        "crossSaveOverride": {
                          "$ref": "#/components/schemas/DestinyMembershipType"
                        },
                        "applicableMembershipTypes": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "$ref": "#/components/schemas/DestinyMembershipType"
                          }
                        },
                        "membershipType": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/DestinyMembershipType"
                            },
                            {
                              "nullable": true
                            }
                          ]
                        },
                        "membershipId": {
                          "type": "string"
                        },
                        "displayName": {
                          "type": "string",
                          "nullable": true
                        },
                        "bungieGlobalDisplayName": {
                          "type": "string",
                          "nullable": true
                        },
                        "bungieGlobalDisplayNameCode": {
                          "type": "number",
                          "nullable": true
                        }
                      },
                      "required": ["crossSaveOverride", "membershipId"]
                    },
                    "characterClass": {
                      "type": "string",
                      "nullable": true
                    },
                    "classHash": {
                      "type": "number"
                    },
                    "raceHash": {
                      "type": "number"
                    },
                    "genderHash": {
                      "type": "number"
                    },
                    "characterLevel": {
                      "type": "number"
                    },
                    "lightLevel": {
                      "type": "number"
                    },
                    "emblemHash": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "destinyUserInfo",
                    "classHash",
                    "raceHash",
                    "genderHash",
                    "characterLevel",
                    "lightLevel",
                    "emblemHash"
                  ]
                },
                "characterId": {
                  "type": "string"
                },
                "values": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "basic": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "number"
                          },
                          "displayValue": {
                            "type": "string"
                          }
                        },
                        "required": ["value", "displayValue"]
                      }
                    },
                    "required": ["basic"]
                  }
                },
                "extended": {
                  "type": "object",
                  "properties": {
                    "weapons": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "referenceId": {
                            "type": "number"
                          },
                          "values": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "basic": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "number"
                                    },
                                    "displayValue": {
                                      "type": "string"
                                    }
                                  },
                                  "required": ["value", "displayValue"]
                                }
                              },
                              "required": ["basic"]
                            }
                          }
                        },
                        "required": ["referenceId", "values"]
                      }
                    },
                    "values": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "basic": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              },
                              "displayValue": {
                                "type": "string"
                              }
                            },
                            "required": ["value", "displayValue"]
                          }
                        },
                        "required": ["basic"]
                      }
                    }
                  },
                  "required": ["values"]
                }
              },
              "required": ["player", "characterId", "values"]
            }
          }
        },
        "required": ["period", "activityDetails", "entries"],
        "description": "A raw PGCR with a few redundant fields removed",
        "externalDocs": {
          "description": "Bungie.net API documentation",
          "url": "https://bungie-net.github.io/multi/schema_Destiny-HistoricalStats-DestinyPostGameCarnageReportData.html#schema_Destiny-HistoricalStats-DestinyPostGameCarnageReportData"
        }
      },
      "InstanceForPlayer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Instance"
          },
          {
            "type": "object",
            "properties": {
              "player": {
                "$ref": "#/components/schemas/InstancePlayer"
              }
            },
            "required": ["player"],
            "additionalProperties": false
          }
        ]
      },
      "PlayerProfileActivityStats": {
        "type": "object",
        "properties": {
          "activityId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "freshClears": {
            "type": "integer",
            "minimum": 0
          },
          "clears": {
            "type": "integer",
            "minimum": 0
          },
          "sherpas": {
            "type": "integer",
            "minimum": 0
          },
          "trios": {
            "type": "integer",
            "minimum": 0
          },
          "duos": {
            "type": "integer",
            "minimum": 0
          },
          "solos": {
            "type": "integer",
            "minimum": 0
          },
          "fastestInstance": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Instance"
              },
              {
                "nullable": true
              }
            ]
          }
        },
        "required": [
          "activityId",
          "freshClears",
          "clears",
          "sherpas",
          "trios",
          "duos",
          "solos",
          "fastestInstance"
        ]
      },
      "GlobalStat": {
        "type": "object",
        "properties": {
          "rank": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "value": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": ["rank", "value"]
      },
      "PlayerProfileGlobalStats": {
        "type": "object",
        "properties": {
          "clears": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GlobalStat"
              },
              {
                "nullable": true
              }
            ]
          },
          "freshClears": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GlobalStat"
              },
              {
                "nullable": true
              }
            ]
          },
          "sherpas": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GlobalStat"
              },
              {
                "nullable": true
              }
            ]
          },
          "sumOfBest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GlobalStat"
              },
              {
                "nullable": true
              }
            ]
          }
        },
        "required": ["clears", "freshClears", "sherpas", "sumOfBest"]
      },
      "WorldFirstEntry": {
        "type": "object",
        "properties": {
          "activityId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "instanceId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "timeAfterLaunch": {
            "type": "integer",
            "minimum": 0
          },
          "rank": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          }
        },
        "required": ["activityId", "instanceId", "timeAfterLaunch", "rank"]
      },
      "PlayerProfile": {
        "type": "object",
        "properties": {
          "playerInfo": {
            "$ref": "#/components/schemas/PlayerInfo"
          },
          "stats": {
            "type": "object",
            "properties": {
              "global": {
                "$ref": "#/components/schemas/PlayerProfileGlobalStats"
              },
              "activity": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/PlayerProfileActivityStats"
                }
              }
            },
            "required": ["global", "activity"]
          },
          "worldFirstEntries": {
            "type": "object",
            "additionalProperties": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/WorldFirstEntry"
                },
                {
                  "nullable": true
                }
              ]
            }
          }
        },
        "required": ["playerInfo", "stats", "worldFirstEntries"]
      },
      "ManifestResponse": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "response": {
            "type": "object",
            "properties": {
              "hashes": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "activityId": {
                      "type": "integer",
                      "minimum": 0,
                      "exclusiveMinimum": true
                    },
                    "versionId": {
                      "type": "integer",
                      "minimum": 0,
                      "exclusiveMinimum": true
                    }
                  },
                  "required": ["activityId", "versionId"]
                },
                "description": "The mapping of each Bungie.net hash to a RaidHub activityId and versionId"
              },
              "activityDefinitions": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "isSunset": {
                      "type": "boolean"
                    },
                    "isRaid": {
                      "type": "boolean"
                    },
                    "releaseDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "dayOneEnd": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "contestEnd": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "weekOneEnd": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "name",
                    "path",
                    "isSunset",
                    "isRaid",
                    "releaseDate",
                    "dayOneEnd",
                    "contestEnd",
                    "weekOneEnd"
                  ]
                },
                "description": "The mapping of each RaidHub activityId to its English name"
              },
              "versionDefinitions": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "associatedActivityId": {
                      "type": "integer",
                      "nullable": true,
                      "minimum": 0,
                      "exclusiveMinimum": true
                    }
                  },
                  "required": ["name", "path", "associatedActivityId"]
                },
                "description": "The mapping of each RaidHub versionId to its English name"
              },
              "raidIds": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "description": "The list of activityId which are Raids"
              },
              "listedRaidIds": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "description": "The list of active raid activityId in order of newest to oldest"
              },
              "sunsetRaidIds": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "description": "The list of inactive raid activityId"
              },
              "prestigeRaidIds": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "description": "The list of raid activityId which had a prestige mode"
              },
              "masterRaidIds": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "description": "The list of raid activityId which have a master mode"
              },
              "contestRaidIds": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "description": "The list of raid activityId which had a contest mode"
              },
              "pantheonIds": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "description": "The list of activityId for Pantheon"
              },
              "pantheonVersionIds": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "description": "The set of versionId for Pantheon"
              }
            },
            "required": [
              "hashes",
              "activityDefinitions",
              "versionDefinitions",
              "raidIds",
              "listedRaidIds",
              "sunsetRaidIds",
              "prestigeRaidIds",
              "masterRaidIds",
              "contestRaidIds",
              "pantheonIds",
              "pantheonVersionIds"
            ],
            "additionalProperties": false
          }
        },
        "required": ["minted", "success", "response"]
      },
      "PlayerSearchResponse": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "response": {
            "type": "object",
            "properties": {
              "params": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true
                  },
                  "query": {
                    "type": "string"
                  }
                },
                "required": ["count", "query"]
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PlayerInfo"
                }
              }
            },
            "required": ["params", "results"],
            "additionalProperties": false
          }
        },
        "required": ["minted", "success", "response"]
      },
      "PlayerActivitiesResponse": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "response": {
            "type": "object",
            "properties": {
              "membershipId": {
                "type": "string",
                "pattern": "^\\d+n?$"
              },
              "nextCursor": {
                "type": "string",
                "format": "date-time"
              },
              "activities": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InstanceForPlayer"
                }
              }
            },
            "required": ["membershipId", "nextCursor", "activities"],
            "additionalProperties": false
          }
        },
        "required": ["minted", "success", "response"]
      },
      "PlayerBasicResponse": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "response": {
            "$ref": "#/components/schemas/PlayerInfo"
          }
        },
        "required": ["minted", "success", "response"]
      },
      "PlayerProfileResponse": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "response": {
            "$ref": "#/components/schemas/PlayerProfile"
          }
        },
        "required": ["minted", "success", "response"]
      },
      "ActivityResponse": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "response": {
            "$ref": "#/components/schemas/InstanceExtended"
          }
        },
        "required": ["minted", "success", "response"]
      },
      "LeaderboardIndividualGlobalResponse": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "response": {
            "$ref": "#/components/schemas/LeaderboardData"
          }
        },
        "required": ["minted", "success", "response"]
      },
      "LeaderboardIndividualRaidResponse": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "response": {
            "$ref": "#/components/schemas/LeaderboardData"
          }
        },
        "required": ["minted", "success", "response"]
      },
      "LeaderboardIndividualPantheonResponse": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "response": {
            "$ref": "#/components/schemas/LeaderboardData"
          }
        },
        "required": ["minted", "success", "response"]
      },
      "LeaderboardTeamFirstResponse": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "response": {
            "$ref": "#/components/schemas/LeaderboardData"
          }
        },
        "required": ["minted", "success", "response"]
      },
      "LeaderboardTeamContestResponse": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "response": {
            "$ref": "#/components/schemas/LeaderboardData"
          }
        },
        "required": ["minted", "success", "response"]
      },
      "PgcrResponse": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "response": {
            "$ref": "#/components/schemas/RaidHubPostGameCarnageReport"
          }
        },
        "required": ["minted", "success", "response"]
      },
      "AdminQueryResponse": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "response": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["SELECT"]
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  }
                },
                "required": ["type", "data"]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["HIGH COST"]
                  },
                  "data": {
                    "nullable": true
                  },
                  "cost": {
                    "type": "number"
                  },
                  "estimatedDuration": {
                    "type": "number"
                  }
                },
                "required": ["type", "data", "cost", "estimatedDuration"]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["EXPLAIN"]
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": ["type", "data"]
              }
            ]
          }
        },
        "required": ["minted", "success", "response"]
      },
      "AuthorizeAdminResponse": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "response": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string"
              },
              "expires": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": ["value", "expires"]
          }
        },
        "required": ["minted", "success", "response"]
      }
    },
    "parameters": {},
    "securitySchemes": {
      "API Key": {
        "type": "apiKey",
        "name": "X-API-KEY",
        "in": "header"
      },
      "Administrator Token": {
        "type": "http",
        "name": "Authorization",
        "scheme": "bearer",
        "in": "header"
      }
    }
  },
  "paths": {
    "/manifest": {
      "get": {
        "summary": "/manifest",
        "description": "The RaidHub manifest provides definitions for all activities and versions in the RaidHub database.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManifestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          }
        }
      }
    },
    "/player/search": {
      "get": {
        "summary": "/player/search",
        "description": "Search for players in the RaidHub database by Bungie name or platform display name. \nPlayers who have not attempted a raid may not appear in the search results. \nResults are ordered by a combination of the number of raid completions and last played date.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "exclusiveMinimum": true,
              "maximum": 50,
              "default": 20
            },
            "required": false,
            "name": "count",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "query",
            "in": "query"
          },
          {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/DestinyMembershipType"
                },
                {
                  "default": -1,
                  "description": "Filter by Destiny membership type. Defaults to -1 (all). Note that the membership type of an account is determined by the platform the was first created on"
                }
              ]
            },
            "required": false,
            "name": "membershipType",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": true,
              "description": "Search by bungie name. Defaults to true. Set this parameter to false to search by platform display name instead"
            },
            "required": false,
            "name": "global",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          }
        }
      }
    },
    "/player/{membershipId}/activities": {
      "get": {
        "summary": "/player/{membershipId}/activities",
        "description": "Get a player's activity history. This endpoint uses date cursors to paginate through a player's activity history. \nThe first request should not include a cursor. Subsequent requests should include the `nextCursor` \nvalue from the previous response. Note that the first request may not return the full number of activities requested\nin order to optimize performance. Subsequent requests will return the full number of activities requested.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": true,
            "name": "membershipId",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 5000,
              "default": 2000
            },
            "required": false,
            "name": "count",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerActivitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/player/{membershipId}/basic": {
      "get": {
        "summary": "/player/{membershipId}/basic",
        "description": "An extremely low-cost API call. Get basic information Bungie information about a player. The information is not\nguaranteed to be fully up-to-date, however, it should be accurate enough for most use cases where\nyou only have the membershipId available.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": true,
            "name": "membershipId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerBasicResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/player/{membershipId}/profile": {
      "get": {
        "summary": "/player/{membershipId}/profile",
        "description": "Get a player's profile information. This includes global stats, activity stats, and world first entries. \nThis is used to hydrate the RaidHub profile page",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": true,
            "name": "membershipId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/activity/{instanceId}": {
      "get": {
        "summary": "/activity/{instanceId}",
        "description": "This endpoint replaces the PGCR endpoint. It returns an object with a shape more aligned with how RaidHub displays PGCRs.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": true,
            "name": "instanceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "instanceId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["instanceId"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/individual/global/{category}": {
      "get": {
        "summary": "/leaderboard/individual/global/{category}",
        "description": "Individual leaderboards across all raids",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": ["clears", "freshClears", "sherpas", "speedrun"]
            },
            "required": true,
            "name": "category",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100,
              "default": 50
            },
            "required": false,
            "name": "count",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "default": 1,
              "description": "Page number of leaderboard data. Ignored if `search` is provided. Defaults to 1"
            },
            "required": false,
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardIndividualGlobalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/individual/raid/{raid}/{category}": {
      "get": {
        "summary": "/leaderboard/individual/raid/{raid}/{category}",
        "description": "Individual leaderboards for a specific raid",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "raid",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["clears", "freshClears", "sherpas"]
            },
            "required": true,
            "name": "category",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100,
              "default": 50
            },
            "required": false,
            "name": "count",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "default": 1,
              "description": "Page number of leaderboard data. Ignored if `search` is provided. Defaults to 1"
            },
            "required": false,
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardIndividualRaidResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "raid": {
                          "type": "string"
                        }
                      },
                      "required": ["raid"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/individual/pantheon/{version}/{category}": {
      "get": {
        "summary": "/leaderboard/individual/pantheon/{version}/{category}",
        "description": "Individual leaderboards for a specific pantheon version",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "version",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["clears", "freshClears", "score"]
            },
            "required": true,
            "name": "category",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100,
              "default": 50
            },
            "required": false,
            "name": "count",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "default": 1,
              "description": "Page number of leaderboard data. Ignored if `search` is provided. Defaults to 1"
            },
            "required": false,
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardIndividualPantheonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "path": {
                          "type": "string"
                        }
                      },
                      "required": ["path"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/team/first/{activity}/{version}": {
      "get": {
        "summary": "/leaderboard/team/first/{activity}/{version}",
        "description": "Ranking of the first 1000 completions of each activity version. \nUse the /contest endpoint instead to get the full rankings for the duration of the contest.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "activity",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "version",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100,
              "default": 50
            },
            "required": false,
            "name": "count",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "default": 1,
              "description": "Page number of leaderboard data. Ignored if `search` is provided. Defaults to 1"
            },
            "required": false,
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardTeamFirstResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "activity": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string"
                        }
                      },
                      "required": ["activity", "version"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/team/contest/{activity}": {
      "get": {
        "summary": "/leaderboard/team/contest/{activity}",
        "description": "Ranking of all teams which completed the official contest version of the raid during the contest period.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "raid",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100,
              "default": 50
            },
            "required": false,
            "name": "count",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "default": 1,
              "description": "Page number of leaderboard data. Ignored if `search` is provided. Defaults to 1"
            },
            "required": false,
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardTeamContestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "raid": {
                          "type": "string"
                        }
                      },
                      "required": ["raid"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/pgcr/{instanceId}": {
      "get": {
        "summary": "/pgcr/{instanceId}",
        "description": "Get a raw post game carnage report by instanceId. \nThis is essentially the raw data from the Bungie API, with a few fields trimmed off. \nIt should be a subset of the data returned by the Bungie API. \nUseful if you need to access PGCRs when Bungie's API is down.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": true,
            "name": "instanceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PgcrResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "instanceId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["instanceId"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/admin/query": {
      "post": {
        "summary": "/admin/query",
        "description": "Run a query against the database",
        "security": [
          {
            "Administrator Token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": ["SELECT", "EXPLAIN"]
                  },
                  "ignoreCost": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": ["query", "type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BodyValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientPermissionsError"
                }
              }
            }
          },
          "501": {
            "description": "AdminQuerySyntaxError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "line": {
                      "type": "string"
                    },
                    "position": {
                      "type": "integer",
                      "minimum": 0,
                      "exclusiveMinimum": true
                    }
                  },
                  "required": ["name", "code", "line", "position"]
                }
              }
            }
          }
        }
      }
    },
    "/authorize/admin": {
      "post": {
        "summary": "/authorize/admin",
        "description": "Authorize an admin user. Requires the client secret.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bungieMembershipId": {
                    "type": "string",
                    "pattern": "^\\d+n?$"
                  },
                  "clientSecret": {
                    "type": "string"
                  }
                },
                "required": ["bungieMembershipId", "clientSecret"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeAdminResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BodyValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "403": {
            "description": "InvalidClientSecretError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "unauthorized": {
                      "type": "boolean",
                      "enum": [true]
                    }
                  },
                  "required": ["unauthorized"]
                }
              }
            }
          }
        }
      }
    }
  }
}
