{
  "openapi": "3.0.0",
  "info": {
    "title": "RaidHub API",
    "description": "The Semi-public API for RaidHub",
    "version": "1.0.1",
    "contact": {
      "name": "RaidHub Admin",
      "email": "admin@raidhub.io"
    }
  },
  "servers": [
    {
      "url": "https://api.raidhub.io"
    }
  ],
  "security": [
    {
      "API Key": []
    }
  ],
  "components": {
    "schemas": {
      "ErrorCode": {
        "type": "string",
        "enum": [
          "Unknown",
          "ApiKeyError",
          "PathValidationError",
          "QueryValidationError",
          "BodyValidationError",
          "PlayerNotFoundError",
          "PlayerPrivateProfileError",
          "InstanceNotFoundError",
          "PGCRNotFoundError",
          "LeaderboardNotFoundError",
          "PlayerNotOnLeaderboardError",
          "RaidNotFoundError",
          "PantheonVersionNotFoundError",
          "InvalidActivityVersionComboError",
          "AdminQuerySyntaxError",
          "InsufficientPermissionsError",
          "InvalidClientSecretError",
          "InternalServerError"
        ]
      },
      "RaidHubResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "minted": {
                "type": "string",
                "format": "date-time"
              },
              "success": {
                "type": "boolean",
                "enum": [true]
              },
              "response": {
                "nullable": true
              }
            },
            "required": ["minted", "success"],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "minted": {
                "type": "string",
                "format": "date-time"
              },
              "success": {
                "type": "boolean",
                "enum": [false]
              },
              "code": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "error": {
                "nullable": true
              }
            },
            "required": ["minted", "success", "code"],
            "additionalProperties": false
          }
        ]
      },
      "ApiKeyError": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "code": {
            "type": "string",
            "enum": ["ApiKeyError"]
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "anyOf": [
                  {
                    "type": "string",
                    "enum": ["Invalid API Key"]
                  },
                  {
                    "type": "string",
                    "enum": ["Missing API Key"]
                  }
                ]
              },
              "apiKey": {
                "type": "string",
                "nullable": true
              },
              "origin": {
                "type": "string",
                "nullable": true
              }
            },
            "required": ["message", "apiKey", "origin"]
          }
        },
        "required": ["minted", "success", "code", "error"]
      },
      "ZodIssue": {
        "type": "object",
        "properties": {
          "fatal": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "path": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ]
            }
          },
          "code": {
            "type": "string",
            "enum": [
              "invalid_type",
              "invalid_literal",
              "custom",
              "invalid_union",
              "invalid_union_discriminator",
              "invalid_enum_value",
              "unrecognized_keys",
              "invalid_arguments",
              "invalid_return_type",
              "invalid_date",
              "invalid_string",
              "too_small",
              "too_big",
              "invalid_intersection_types",
              "not_multiple_of",
              "not_finite"
            ]
          }
        },
        "required": ["message", "path", "code"]
      },
      "BodyValidationError": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "code": {
            "type": "string",
            "enum": ["BodyValidationError"]
          },
          "error": {
            "type": "object",
            "properties": {
              "issues": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ZodIssue"
                }
              }
            },
            "required": ["issues"]
          }
        },
        "required": ["minted", "success", "code", "error"]
      },
      "InsufficientPermissionsError": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "code": {
            "type": "string",
            "enum": ["InsufficientPermissionsError"]
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "enum": ["Forbidden"]
              }
            },
            "required": ["message"]
          }
        },
        "required": ["minted", "success", "code", "error"]
      },
      "PathValidationError": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "code": {
            "type": "string",
            "enum": ["PathValidationError"]
          },
          "error": {
            "type": "object",
            "properties": {
              "issues": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ZodIssue"
                }
              }
            },
            "required": ["issues"]
          }
        },
        "required": ["minted", "success", "code", "error"]
      },
      "QueryValidationError": {
        "type": "object",
        "properties": {
          "minted": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "code": {
            "type": "string",
            "enum": ["QueryValidationError"]
          },
          "error": {
            "type": "object",
            "properties": {
              "issues": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ZodIssue"
                }
              }
            },
            "required": ["issues"]
          }
        },
        "required": ["minted", "success", "code", "error"]
      },
      "DestinyMembershipType": {
        "type": "integer",
        "enum": [0, 1, 2, 3, 4, 5, 6, -1],
        "externalDocs": {
          "url": "https://bungie-net.github.io/#/components/schemas/BungieMembershipType"
        }
      },
      "Instance": {
        "type": "object",
        "properties": {
          "instanceId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "hash": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "activityId": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "versionId": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "completed": {
            "type": "boolean"
          },
          "flawless": {
            "type": "boolean",
            "nullable": true
          },
          "fresh": {
            "type": "boolean",
            "nullable": true
          },
          "playerCount": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "score": {
            "type": "integer",
            "minimum": 0
          },
          "dateStarted": {
            "type": "string",
            "format": "date-time"
          },
          "dateCompleted": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Activity duration in seconds"
          },
          "platformType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DestinyMembershipType"
              },
              {
                "description": "If all players are on the same platform, this will be the platform type. Otherwise, it will be `0`."
              }
            ]
          },
          "isDayOne": {
            "type": "boolean",
            "description": "If the activity was completed before the day one end date"
          },
          "isContest": {
            "type": "boolean",
            "description": "If the activity was completed before the contest end date"
          },
          "isWeekOne": {
            "type": "boolean",
            "description": "If the activity was completed before the week one end date"
          }
        },
        "required": [
          "instanceId",
          "hash",
          "activityId",
          "versionId",
          "completed",
          "flawless",
          "fresh",
          "playerCount",
          "score",
          "dateStarted",
          "dateCompleted",
          "duration",
          "platformType",
          "isDayOne",
          "isContest",
          "isWeekOne"
        ],
        "additionalProperties": false
      },
      "InstanceMetadata": {
        "type": "object",
        "properties": {
          "activityName": {
            "type": "string"
          },
          "versionName": {
            "type": "string"
          },
          "isRaid": {
            "type": "boolean"
          }
        },
        "required": ["activityName", "versionName", "isRaid"]
      },
      "InstanceCharacterWeapon": {
        "type": "object",
        "properties": {
          "weaponHash": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "kills": {
            "type": "integer",
            "minimum": 0
          },
          "precisionKills": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": ["weaponHash", "kills", "precisionKills"],
        "additionalProperties": false
      },
      "InstanceCharacter": {
        "type": "object",
        "properties": {
          "characterId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "classHash": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d+n?$"
          },
          "emblemHash": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d+n?$"
          },
          "completed": {
            "type": "boolean"
          },
          "timePlayedSeconds": {
            "type": "integer",
            "minimum": 0
          },
          "startSeconds": {
            "type": "integer",
            "minimum": 0
          },
          "score": {
            "type": "integer",
            "minimum": 0
          },
          "kills": {
            "type": "integer",
            "minimum": 0
          },
          "deaths": {
            "type": "integer",
            "minimum": 0
          },
          "assists": {
            "type": "integer",
            "minimum": 0
          },
          "precisionKills": {
            "type": "integer",
            "minimum": 0
          },
          "superKills": {
            "type": "integer",
            "minimum": 0
          },
          "grenadeKills": {
            "type": "integer",
            "minimum": 0
          },
          "meleeKills": {
            "type": "integer",
            "minimum": 0
          },
          "weapons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstanceCharacterWeapon"
            }
          }
        },
        "required": [
          "characterId",
          "classHash",
          "emblemHash",
          "completed",
          "timePlayedSeconds",
          "startSeconds",
          "score",
          "kills",
          "deaths",
          "assists",
          "precisionKills",
          "superKills",
          "grenadeKills",
          "meleeKills",
          "weapons"
        ],
        "additionalProperties": false
      },
      "InstancePlayer": {
        "type": "object",
        "properties": {
          "completed": {
            "type": "boolean"
          },
          "isFirstClear": {
            "type": "boolean"
          },
          "sherpas": {
            "type": "integer",
            "minimum": 0
          },
          "timePlayedSeconds": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "completed",
          "isFirstClear",
          "sherpas",
          "timePlayedSeconds"
        ],
        "additionalProperties": false
      },
      "PlayerInfo": {
        "type": "object",
        "properties": {
          "membershipId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "membershipType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DestinyMembershipType"
              },
              {
                "nullable": true,
                "description": "The platform on which the player created their account."
              }
            ]
          },
          "iconPath": {
            "type": "string",
            "nullable": true
          },
          "displayName": {
            "type": "string",
            "nullable": true,
            "description": "The platform-specific display name of the player. No longer shown in-game."
          },
          "bungieGlobalDisplayName": {
            "type": "string",
            "nullable": true
          },
          "bungieGlobalDisplayNameCode": {
            "type": "string",
            "nullable": true
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time"
          },
          "isPrivate": {
            "type": "boolean",
            "description": "Whether or not the player has chosen to hide their on Bungie.net."
          }
        },
        "required": [
          "membershipId",
          "membershipType",
          "iconPath",
          "displayName",
          "bungieGlobalDisplayName",
          "bungieGlobalDisplayNameCode",
          "lastSeen",
          "isPrivate"
        ],
        "additionalProperties": false,
        "example": {
          "bungieGlobalDisplayName": "Newo",
          "bungieGlobalDisplayNameCode": "9010",
          "membershipId": "4611686018488107374",
          "displayName": "xx_newo_xx",
          "iconPath": "/common/destiny2_content/icons/93844c8b76ea80683a880479e3506980.jpg",
          "membershipType": 3,
          "lastSeen": "2021-05-01T00:00:00.000Z",
          "isPrivate": false
        }
      },
      "InstancePlayerExtended": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InstancePlayer"
          },
          {
            "type": "object",
            "properties": {
              "playerInfo": {
                "$ref": "#/components/schemas/PlayerInfo"
              },
              "characters": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InstanceCharacter"
                }
              }
            },
            "required": ["playerInfo", "characters"],
            "additionalProperties": false
          }
        ]
      },
      "InstanceExtended": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Instance"
          },
          {
            "type": "object",
            "properties": {
              "leaderboardRank": {
                "type": "integer",
                "nullable": true,
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "metadata": {
                "$ref": "#/components/schemas/InstanceMetadata"
              },
              "players": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InstancePlayerExtended"
                }
              }
            },
            "required": ["leaderboardRank", "metadata", "players"],
            "additionalProperties": false
          }
        ]
      },
      "TeamLeaderboardEntry": {
        "type": "object",
        "properties": {
          "position": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "rank": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "value": {
            "type": "number"
          },
          "instanceId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "players": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlayerInfo"
            }
          }
        },
        "required": ["position", "rank", "value", "instanceId", "players"]
      },
      "IndividualLeaderboardEntry": {
        "type": "object",
        "properties": {
          "position": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "rank": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "value": {
            "type": "number"
          },
          "playerInfo": {
            "$ref": "#/components/schemas/PlayerInfo"
          }
        },
        "required": ["position", "rank", "value", "playerInfo"]
      },
      "LeaderboardData": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["team"]
              },
              "format": {
                "type": "string",
                "enum": ["duration", "numerical"]
              },
              "page": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TeamLeaderboardEntry"
                }
              }
            },
            "required": ["type", "format", "page", "count", "entries"]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["individual"]
              },
              "format": {
                "type": "string",
                "enum": ["duration", "numerical"]
              },
              "page": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IndividualLeaderboardEntry"
                }
              }
            },
            "required": ["type", "format", "page", "count", "entries"]
          }
        ]
      },
      "LeaderboardPagination": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "minimum": 10,
            "maximum": 100,
            "default": 50
          },
          "search": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "page": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "default": 1,
            "description": "Page number of leaderboard data. Ignored if `search` is provided. Defaults to 1"
          }
        },
        "description": "Pagination parameters for leaderboard data"
      },
      "ActivityDefinition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "isSunset": {
            "type": "boolean"
          },
          "isRaid": {
            "type": "boolean"
          },
          "releaseDate": {
            "type": "string",
            "format": "date-time"
          },
          "dayOneEnd": {
            "type": "string",
            "format": "date-time"
          },
          "contestEnd": {
            "type": "string",
            "format": "date-time"
          },
          "weekOneEnd": {
            "type": "string",
            "format": "date-time"
          },
          "milestoneHash": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d+n?$"
          }
        },
        "required": [
          "id",
          "name",
          "path",
          "isSunset",
          "isRaid",
          "releaseDate",
          "dayOneEnd",
          "contestEnd",
          "weekOneEnd",
          "milestoneHash"
        ],
        "additionalProperties": false,
        "description": "The definition of an activity in the RaidHub database.",
        "example": {
          "id": 9,
          "name": "Vault of Glass",
          "path": "vaultofglass",
          "isSunset": false,
          "isRaid": true,
          "releaseDate": "2021-05-22T00:00:00.000Z",
          "dayOneEnd": "2021-05-23T00:00:00.000Z",
          "contestEnd": "2021-05-23T00:00:00.000Z",
          "weekOneEnd": "2021-05-25T00:00:00.000Z",
          "milestoneHash": "1888320892"
        }
      },
      "VersionDefinition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "associatedActivityId": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "isChallengeMode": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "path",
          "associatedActivityId",
          "isChallengeMode"
        ],
        "additionalProperties": false,
        "description": "The definition of a version in the RaidHub database.",
        "examples": [
          {
            "id": 1,
            "name": "Normal",
            "path": "normal",
            "associatedActivityId": null,
            "isChallengeMode": false
          },
          {
            "id": 129,
            "name": "Oryx Exalted",
            "path": "oryx",
            "associatedActivityId": 101,
            "isChallengeMode": false
          }
        ]
      },
      "RaidHubPostGameCarnageReport": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string",
            "format": "date-time"
          },
          "startingPhaseIndex": {
            "type": "number"
          },
          "activityWasStartedFromBeginning": {
            "type": "boolean"
          },
          "activityDetails": {
            "type": "object",
            "properties": {
              "directorActivityHash": {
                "type": "string",
                "pattern": "^\\d+n?$"
              },
              "instanceId": {
                "type": "string",
                "pattern": "^\\d+n?$"
              },
              "mode": {
                "type": "integer",
                "enum": [
                  0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19,
                  20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 37, 38, 39,
                  40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54,
                  55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
                  70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
                  85, 86, 87, 88, 89, 90, 91
                ]
              },
              "modes": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "enum": [
                    0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19,
                    20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 37, 38, 39,
                    40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54,
                    55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
                    70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
                    85, 86, 87, 88, 89, 90, 91
                  ]
                }
              },
              "membershipType": {
                "$ref": "#/components/schemas/DestinyMembershipType"
              }
            },
            "required": [
              "directorActivityHash",
              "instanceId",
              "mode",
              "modes",
              "membershipType"
            ]
          },
          "entries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "player": {
                  "type": "object",
                  "properties": {
                    "destinyUserInfo": {
                      "type": "object",
                      "properties": {
                        "iconPath": {
                          "type": "string",
                          "nullable": true
                        },
                        "crossSaveOverride": {
                          "$ref": "#/components/schemas/DestinyMembershipType"
                        },
                        "applicableMembershipTypes": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "$ref": "#/components/schemas/DestinyMembershipType"
                          }
                        },
                        "membershipType": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/DestinyMembershipType"
                            },
                            {
                              "nullable": true
                            }
                          ]
                        },
                        "membershipId": {
                          "type": "string"
                        },
                        "displayName": {
                          "type": "string",
                          "nullable": true
                        },
                        "bungieGlobalDisplayName": {
                          "type": "string",
                          "nullable": true
                        },
                        "bungieGlobalDisplayNameCode": {
                          "type": "number",
                          "nullable": true
                        }
                      },
                      "required": ["crossSaveOverride", "membershipId"]
                    },
                    "characterClass": {
                      "type": "string",
                      "nullable": true
                    },
                    "classHash": {
                      "type": "number"
                    },
                    "raceHash": {
                      "type": "number"
                    },
                    "genderHash": {
                      "type": "number"
                    },
                    "characterLevel": {
                      "type": "number"
                    },
                    "lightLevel": {
                      "type": "number"
                    },
                    "emblemHash": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "destinyUserInfo",
                    "classHash",
                    "raceHash",
                    "genderHash",
                    "characterLevel",
                    "lightLevel",
                    "emblemHash"
                  ]
                },
                "characterId": {
                  "type": "string"
                },
                "values": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "basic": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "number"
                          },
                          "displayValue": {
                            "type": "string"
                          }
                        },
                        "required": ["value", "displayValue"]
                      }
                    },
                    "required": ["basic"]
                  }
                },
                "extended": {
                  "type": "object",
                  "properties": {
                    "weapons": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "referenceId": {
                            "type": "number"
                          },
                          "values": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "basic": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "number"
                                    },
                                    "displayValue": {
                                      "type": "string"
                                    }
                                  },
                                  "required": ["value", "displayValue"]
                                }
                              },
                              "required": ["basic"]
                            }
                          }
                        },
                        "required": ["referenceId", "values"]
                      }
                    },
                    "values": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "basic": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              },
                              "displayValue": {
                                "type": "string"
                              }
                            },
                            "required": ["value", "displayValue"]
                          }
                        },
                        "required": ["basic"]
                      }
                    }
                  },
                  "required": ["values"]
                }
              },
              "required": ["player", "characterId", "values"]
            }
          }
        },
        "required": ["period", "activityDetails", "entries"],
        "description": "A raw PGCR with a few redundant fields removed",
        "externalDocs": {
          "description": "Bungie.net API documentation",
          "url": "https://bungie-net.github.io/multi/schema_Destiny-HistoricalStats-DestinyPostGameCarnageReportData.html#schema_Destiny-HistoricalStats-DestinyPostGameCarnageReportData"
        }
      },
      "InstanceForPlayer": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Instance"
          },
          {
            "type": "object",
            "properties": {
              "player": {
                "$ref": "#/components/schemas/InstancePlayer"
              }
            },
            "required": ["player"],
            "additionalProperties": false
          }
        ]
      },
      "PlayerProfileActivityStats": {
        "type": "object",
        "properties": {
          "activityId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "freshClears": {
            "type": "integer",
            "minimum": 0
          },
          "clears": {
            "type": "integer",
            "minimum": 0
          },
          "sherpas": {
            "type": "integer",
            "minimum": 0
          },
          "fastestInstance": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Instance"
              },
              {
                "nullable": true
              }
            ]
          }
        },
        "required": [
          "activityId",
          "freshClears",
          "clears",
          "sherpas",
          "fastestInstance"
        ]
      },
      "GlobalStat": {
        "type": "object",
        "properties": {
          "rank": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "value": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": ["rank", "value"]
      },
      "PlayerProfileGlobalStats": {
        "type": "object",
        "properties": {
          "clears": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GlobalStat"
              },
              {
                "nullable": true
              }
            ]
          },
          "freshClears": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GlobalStat"
              },
              {
                "nullable": true
              }
            ]
          },
          "sherpas": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GlobalStat"
              },
              {
                "nullable": true
              }
            ]
          },
          "sumOfBest": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GlobalStat"
              },
              {
                "nullable": true
              }
            ]
          }
        },
        "required": ["clears", "freshClears", "sherpas", "sumOfBest"]
      },
      "WorldFirstEntry": {
        "type": "object",
        "properties": {
          "activityId": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "instanceId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "timeAfterLaunch": {
            "type": "integer",
            "minimum": 0
          },
          "rank": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "isDayOne": {
            "type": "boolean"
          },
          "isContest": {
            "type": "boolean"
          },
          "isWeekOne": {
            "type": "boolean"
          },
          "isChallengeMode": {
            "type": "boolean"
          }
        },
        "required": [
          "activityId",
          "instanceId",
          "timeAfterLaunch",
          "rank",
          "isDayOne",
          "isContest",
          "isWeekOne",
          "isChallengeMode"
        ]
      },
      "PlayerProfile": {
        "type": "object",
        "properties": {
          "playerInfo": {
            "$ref": "#/components/schemas/PlayerInfo"
          },
          "stats": {
            "type": "object",
            "properties": {
              "global": {
                "$ref": "#/components/schemas/PlayerProfileGlobalStats"
              },
              "activity": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/PlayerProfileActivityStats"
                }
              }
            },
            "required": ["global", "activity"]
          },
          "worldFirstEntries": {
            "type": "object",
            "additionalProperties": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/WorldFirstEntry"
                },
                {
                  "nullable": true
                }
              ]
            }
          }
        },
        "required": ["playerInfo", "stats", "worldFirstEntries"]
      },
      "Teammate": {
        "type": "object",
        "properties": {
          "estimatedTimePlayedSeconds": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "clears": {
            "type": "integer",
            "minimum": 0
          },
          "instanceCount": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "playerInfo": {
            "$ref": "#/components/schemas/PlayerInfo"
          }
        },
        "required": [
          "estimatedTimePlayedSeconds",
          "clears",
          "instanceCount",
          "playerInfo"
        ],
        "additionalProperties": false
      },
      "ManifestResponse": {
        "type": "object",
        "properties": {
          "hashes": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "activityId": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "versionId": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                }
              },
              "required": ["activityId", "versionId"]
            },
            "description": "The mapping of each Bungie.net hash to a RaidHub activityId and versionId"
          },
          "activityDefinitions": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ActivityDefinition"
            },
            "description": "The mapping of each RaidHub activityId to its definition"
          },
          "versionDefinitions": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/VersionDefinition"
            },
            "description": "The mapping of each RaidHub versionId to its definition"
          },
          "listedRaidIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "minItems": 8,
            "description": "The list of all activityId in order of newest to oldest"
          },
          "sunsetRaidIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "description": "The list of inactive raid activityId"
          },
          "prestigeRaidIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "minItems": 3,
            "description": "The list of raid activityId which had a prestige mode"
          },
          "masterRaidIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "minItems": 5,
            "description": "The list of raid activityId which have a master mode"
          },
          "contestRaidIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "minItems": 8,
            "description": "The list of raid activityId which had a contest mode"
          },
          "resprisedRaidIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "minItems": 3,
            "description": "The list of raid activityId which have been reprised from Destiny 1"
          },
          "resprisedChallengeVersionIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "minItems": 3,
            "description": "The list of version versionId which are the challenge mode for reprised raids"
          },
          "pantheonIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "minItems": 1,
            "description": "The list of activityId for Pantheon"
          },
          "versionsForActivity": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "minItems": 1
            },
            "description": "The set of versionId for each activityId"
          }
        },
        "required": [
          "hashes",
          "activityDefinitions",
          "versionDefinitions",
          "listedRaidIds",
          "sunsetRaidIds",
          "prestigeRaidIds",
          "masterRaidIds",
          "contestRaidIds",
          "resprisedRaidIds",
          "resprisedChallengeVersionIds",
          "pantheonIds",
          "versionsForActivity"
        ],
        "additionalProperties": false
      },
      "PlayerSearchResponse": {
        "type": "object",
        "properties": {
          "params": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "query": {
                "type": "string"
              }
            },
            "required": ["count", "query"]
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlayerInfo"
            }
          }
        },
        "required": ["params", "results"],
        "additionalProperties": false
      },
      "PlayerActivitiesResponse": {
        "type": "object",
        "properties": {
          "membershipId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "nextCursor": {
            "type": "string",
            "format": "date-time"
          },
          "activities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstanceForPlayer"
            }
          }
        },
        "required": ["membershipId", "nextCursor", "activities"],
        "additionalProperties": false
      },
      "PlayerBasicResponse": {
        "type": "object",
        "properties": {
          "membershipId": {
            "type": "string",
            "pattern": "^\\d+n?$"
          },
          "membershipType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DestinyMembershipType"
              },
              {
                "nullable": true,
                "description": "The platform on which the player created their account."
              }
            ]
          },
          "iconPath": {
            "type": "string",
            "nullable": true
          },
          "displayName": {
            "type": "string",
            "nullable": true,
            "description": "The platform-specific display name of the player. No longer shown in-game."
          },
          "bungieGlobalDisplayName": {
            "type": "string",
            "nullable": true
          },
          "bungieGlobalDisplayNameCode": {
            "type": "string",
            "nullable": true
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time"
          },
          "isPrivate": {
            "type": "boolean",
            "description": "Whether or not the player has chosen to hide their on Bungie.net."
          }
        },
        "required": [
          "membershipId",
          "membershipType",
          "iconPath",
          "displayName",
          "bungieGlobalDisplayName",
          "bungieGlobalDisplayNameCode",
          "lastSeen",
          "isPrivate"
        ],
        "additionalProperties": false,
        "example": {
          "bungieGlobalDisplayName": "Newo",
          "bungieGlobalDisplayNameCode": "9010",
          "membershipId": "4611686018488107374",
          "displayName": "xx_newo_xx",
          "iconPath": "/common/destiny2_content/icons/93844c8b76ea80683a880479e3506980.jpg",
          "membershipType": 3,
          "lastSeen": "2021-05-01T00:00:00.000Z",
          "isPrivate": false
        }
      },
      "PlayerProfileResponse": {
        "type": "object",
        "properties": {
          "playerInfo": {
            "$ref": "#/components/schemas/PlayerInfo"
          },
          "stats": {
            "type": "object",
            "properties": {
              "global": {
                "$ref": "#/components/schemas/PlayerProfileGlobalStats"
              },
              "activity": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/PlayerProfileActivityStats"
                }
              }
            },
            "required": ["global", "activity"]
          },
          "worldFirstEntries": {
            "type": "object",
            "additionalProperties": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/WorldFirstEntry"
                },
                {
                  "nullable": true
                }
              ]
            }
          }
        },
        "required": ["playerInfo", "stats", "worldFirstEntries"]
      },
      "PlayerTeammatesResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Teammate"
        }
      },
      "ActivityResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Instance"
          },
          {
            "type": "object",
            "properties": {
              "leaderboardRank": {
                "type": "integer",
                "nullable": true,
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "metadata": {
                "$ref": "#/components/schemas/InstanceMetadata"
              },
              "players": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InstancePlayerExtended"
                }
              }
            },
            "required": ["leaderboardRank", "metadata", "players"],
            "additionalProperties": false
          }
        ]
      },
      "LeaderboardIndividualGlobalResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["team"]
              },
              "format": {
                "type": "string",
                "enum": ["duration", "numerical"]
              },
              "page": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TeamLeaderboardEntry"
                }
              }
            },
            "required": ["type", "format", "page", "count", "entries"]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["individual"]
              },
              "format": {
                "type": "string",
                "enum": ["duration", "numerical"]
              },
              "page": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IndividualLeaderboardEntry"
                }
              }
            },
            "required": ["type", "format", "page", "count", "entries"]
          }
        ]
      },
      "LeaderboardIndividualRaidResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["team"]
              },
              "format": {
                "type": "string",
                "enum": ["duration", "numerical"]
              },
              "page": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TeamLeaderboardEntry"
                }
              }
            },
            "required": ["type", "format", "page", "count", "entries"]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["individual"]
              },
              "format": {
                "type": "string",
                "enum": ["duration", "numerical"]
              },
              "page": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IndividualLeaderboardEntry"
                }
              }
            },
            "required": ["type", "format", "page", "count", "entries"]
          }
        ]
      },
      "LeaderboardIndividualPantheonResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["team"]
              },
              "format": {
                "type": "string",
                "enum": ["duration", "numerical"]
              },
              "page": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TeamLeaderboardEntry"
                }
              }
            },
            "required": ["type", "format", "page", "count", "entries"]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["individual"]
              },
              "format": {
                "type": "string",
                "enum": ["duration", "numerical"]
              },
              "page": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IndividualLeaderboardEntry"
                }
              }
            },
            "required": ["type", "format", "page", "count", "entries"]
          }
        ]
      },
      "LeaderboardTeamFirstResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["team"]
              },
              "format": {
                "type": "string",
                "enum": ["duration", "numerical"]
              },
              "page": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TeamLeaderboardEntry"
                }
              }
            },
            "required": ["type", "format", "page", "count", "entries"]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["individual"]
              },
              "format": {
                "type": "string",
                "enum": ["duration", "numerical"]
              },
              "page": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IndividualLeaderboardEntry"
                }
              }
            },
            "required": ["type", "format", "page", "count", "entries"]
          }
        ]
      },
      "LeaderboardTeamContestResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["team"]
              },
              "format": {
                "type": "string",
                "enum": ["duration", "numerical"]
              },
              "page": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TeamLeaderboardEntry"
                }
              }
            },
            "required": ["type", "format", "page", "count", "entries"]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["individual"]
              },
              "format": {
                "type": "string",
                "enum": ["duration", "numerical"]
              },
              "page": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "count": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              },
              "entries": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IndividualLeaderboardEntry"
                }
              }
            },
            "required": ["type", "format", "page", "count", "entries"]
          }
        ]
      },
      "PgcrResponse": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string",
            "format": "date-time"
          },
          "startingPhaseIndex": {
            "type": "number"
          },
          "activityWasStartedFromBeginning": {
            "type": "boolean"
          },
          "activityDetails": {
            "type": "object",
            "properties": {
              "directorActivityHash": {
                "type": "string",
                "pattern": "^\\d+n?$"
              },
              "instanceId": {
                "type": "string",
                "pattern": "^\\d+n?$"
              },
              "mode": {
                "type": "integer",
                "enum": [
                  0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19,
                  20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 37, 38, 39,
                  40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54,
                  55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
                  70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
                  85, 86, 87, 88, 89, 90, 91
                ]
              },
              "modes": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "enum": [
                    0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19,
                    20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 37, 38, 39,
                    40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54,
                    55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
                    70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
                    85, 86, 87, 88, 89, 90, 91
                  ]
                }
              },
              "membershipType": {
                "$ref": "#/components/schemas/DestinyMembershipType"
              }
            },
            "required": [
              "directorActivityHash",
              "instanceId",
              "mode",
              "modes",
              "membershipType"
            ]
          },
          "entries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "player": {
                  "type": "object",
                  "properties": {
                    "destinyUserInfo": {
                      "type": "object",
                      "properties": {
                        "iconPath": {
                          "type": "string",
                          "nullable": true
                        },
                        "crossSaveOverride": {
                          "$ref": "#/components/schemas/DestinyMembershipType"
                        },
                        "applicableMembershipTypes": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "$ref": "#/components/schemas/DestinyMembershipType"
                          }
                        },
                        "membershipType": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/DestinyMembershipType"
                            },
                            {
                              "nullable": true
                            }
                          ]
                        },
                        "membershipId": {
                          "type": "string"
                        },
                        "displayName": {
                          "type": "string",
                          "nullable": true
                        },
                        "bungieGlobalDisplayName": {
                          "type": "string",
                          "nullable": true
                        },
                        "bungieGlobalDisplayNameCode": {
                          "type": "number",
                          "nullable": true
                        }
                      },
                      "required": ["crossSaveOverride", "membershipId"]
                    },
                    "characterClass": {
                      "type": "string",
                      "nullable": true
                    },
                    "classHash": {
                      "type": "number"
                    },
                    "raceHash": {
                      "type": "number"
                    },
                    "genderHash": {
                      "type": "number"
                    },
                    "characterLevel": {
                      "type": "number"
                    },
                    "lightLevel": {
                      "type": "number"
                    },
                    "emblemHash": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "destinyUserInfo",
                    "classHash",
                    "raceHash",
                    "genderHash",
                    "characterLevel",
                    "lightLevel",
                    "emblemHash"
                  ]
                },
                "characterId": {
                  "type": "string"
                },
                "values": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "basic": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "number"
                          },
                          "displayValue": {
                            "type": "string"
                          }
                        },
                        "required": ["value", "displayValue"]
                      }
                    },
                    "required": ["basic"]
                  }
                },
                "extended": {
                  "type": "object",
                  "properties": {
                    "weapons": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "referenceId": {
                            "type": "number"
                          },
                          "values": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "object",
                              "properties": {
                                "basic": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "number"
                                    },
                                    "displayValue": {
                                      "type": "string"
                                    }
                                  },
                                  "required": ["value", "displayValue"]
                                }
                              },
                              "required": ["basic"]
                            }
                          }
                        },
                        "required": ["referenceId", "values"]
                      }
                    },
                    "values": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "basic": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "number"
                              },
                              "displayValue": {
                                "type": "string"
                              }
                            },
                            "required": ["value", "displayValue"]
                          }
                        },
                        "required": ["basic"]
                      }
                    }
                  },
                  "required": ["values"]
                }
              },
              "required": ["player", "characterId", "values"]
            }
          }
        },
        "required": ["period", "activityDetails", "entries"],
        "description": "A raw PGCR with a few redundant fields removed",
        "externalDocs": {
          "description": "Bungie.net API documentation",
          "url": "https://bungie-net.github.io/multi/schema_Destiny-HistoricalStats-DestinyPostGameCarnageReportData.html#schema_Destiny-HistoricalStats-DestinyPostGameCarnageReportData"
        }
      },
      "AdminQueryResponse": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["SELECT"]
              },
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            },
            "required": ["type", "data"]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["HIGH COST"]
              },
              "data": {
                "nullable": true
              },
              "cost": {
                "type": "number"
              },
              "estimatedDuration": {
                "type": "number"
              }
            },
            "required": ["type", "data", "cost", "estimatedDuration"]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["EXPLAIN"]
              },
              "data": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": ["type", "data"]
          }
        ]
      },
      "AuthorizeAdminResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "expires": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["value", "expires"]
      },
      "AuthorizeUserResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "expires": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["value", "expires"]
      }
    },
    "parameters": {},
    "securitySchemes": {
      "API Key": {
        "type": "apiKey",
        "name": "X-API-KEY",
        "in": "header"
      },
      "Administrator Token": {
        "type": "http",
        "name": "Authorization",
        "scheme": "bearer",
        "in": "header"
      }
    }
  },
  "paths": {
    "/manifest": {
      "get": {
        "summary": "/manifest",
        "description": "The RaidHub manifest provides definitions for all activities and versions in the RaidHub database.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "minted": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "response": {
                      "$ref": "#/components/schemas/ManifestResponse"
                    }
                  },
                  "required": ["minted", "success", "response"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          }
        }
      }
    },
    "/player/search": {
      "get": {
        "summary": "/player/search",
        "description": "Search for players in the RaidHub database by Bungie name or platform display name. \nPlayers who have not attempted a raid may not appear in the search results. \nResults are ordered by a combination of the number of raid completions and last played date.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            },
            "required": false,
            "name": "count",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40
            },
            "required": true,
            "name": "query",
            "in": "query"
          },
          {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/DestinyMembershipType"
                },
                {
                  "default": -1,
                  "description": "Filter by Destiny membership type. Defaults to -1 (all). Note that the membership type of an account is determined by the platform the was first created on"
                }
              ]
            },
            "required": false,
            "name": "membershipType",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": true,
              "description": "Search by bungie name. Defaults to true. Set this parameter to false to search by platform display name instead"
            },
            "required": false,
            "name": "global",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "minted": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "response": {
                      "$ref": "#/components/schemas/PlayerSearchResponse"
                    }
                  },
                  "required": ["minted", "success", "response"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          }
        }
      }
    },
    "/player/{membershipId}/activities": {
      "get": {
        "summary": "/player/{membershipId}/activities",
        "description": "Get a player's activity history. This endpoint uses date cursors to paginate through a player's activity history. \nThe first request should not include a cursor. Subsequent requests should include the `nextCursor` \nvalue from the previous response. Note that the first request may not return the full number of activities requested\nin order to optimize performance. Subsequent requests will return the full number of activities requested.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": true,
            "name": "membershipId",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 5000,
              "default": 2000
            },
            "required": false,
            "name": "count",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "minted": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "response": {
                      "$ref": "#/components/schemas/PlayerActivitiesResponse"
                    }
                  },
                  "required": ["minted", "success", "response"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "403": {
            "description": "PlayerPrivateProfileError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "membershipId": {
                      "type": "string",
                      "pattern": "^\\d+n?$"
                    }
                  },
                  "required": ["membershipId"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/player/{membershipId}/basic": {
      "get": {
        "summary": "/player/{membershipId}/basic",
        "description": "An extremely low-cost API call. Get basic information Bungie information about a player. The information is not\nguaranteed to be fully up-to-date, however, it should be accurate enough for most use cases where\nyou only have the membershipId available.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": true,
            "name": "membershipId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "minted": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "response": {
                      "$ref": "#/components/schemas/PlayerBasicResponse"
                    }
                  },
                  "required": ["minted", "success", "response"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/player/{membershipId}/profile": {
      "get": {
        "summary": "/player/{membershipId}/profile",
        "description": "Get a player's profile information. This includes global stats, activity stats, and world first entries. \nThis is used to hydrate the RaidHub profile page",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": true,
            "name": "membershipId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "minted": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "response": {
                      "$ref": "#/components/schemas/PlayerProfileResponse"
                    }
                  },
                  "required": ["minted", "success", "response"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "403": {
            "description": "PlayerPrivateProfileError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "membershipId": {
                      "type": "string",
                      "pattern": "^\\d+n?$"
                    }
                  },
                  "required": ["membershipId"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/player/{membershipId}/teammates": {
      "get": {
        "summary": "/player/{membershipId}/teammates",
        "description": "",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": true,
            "name": "membershipId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "minted": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "response": {
                      "$ref": "#/components/schemas/PlayerTeammatesResponse"
                    }
                  },
                  "required": ["minted", "success", "response"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "403": {
            "description": "PlayerPrivateProfileError",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "membershipId": {
                      "type": "string",
                      "pattern": "^\\d+n?$"
                    }
                  },
                  "required": ["membershipId"]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/activity/{instanceId}": {
      "get": {
        "summary": "/activity/{instanceId}",
        "description": "This endpoint replaces the PGCR endpoint. It returns an object with a shape more aligned with how RaidHub displays PGCRs.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": true,
            "name": "instanceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "minted": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "response": {
                      "$ref": "#/components/schemas/ActivityResponse"
                    }
                  },
                  "required": ["minted", "success", "response"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "instanceId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["instanceId"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/individual/global/{category}": {
      "get": {
        "summary": "/leaderboard/individual/global/{category}",
        "description": "Individual leaderboards across all raids",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "clears",
                "freshClears",
                "sherpas",
                "speedrun",
                "powerRankings"
              ]
            },
            "required": true,
            "name": "category",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100,
              "default": 50
            },
            "required": false,
            "name": "count",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "default": 1,
              "description": "Page number of leaderboard data. Ignored if `search` is provided. Defaults to 1"
            },
            "required": false,
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "minted": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "response": {
                      "$ref": "#/components/schemas/LeaderboardIndividualGlobalResponse"
                    }
                  },
                  "required": ["minted", "success", "response"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/individual/raid/{raid}/{category}": {
      "get": {
        "summary": "/leaderboard/individual/raid/{raid}/{category}",
        "description": "Individual leaderboards for a specific raid",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "raid",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["clears", "freshClears", "sherpas"]
            },
            "required": true,
            "name": "category",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100,
              "default": 50
            },
            "required": false,
            "name": "count",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "default": 1,
              "description": "Page number of leaderboard data. Ignored if `search` is provided. Defaults to 1"
            },
            "required": false,
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "minted": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "response": {
                      "$ref": "#/components/schemas/LeaderboardIndividualRaidResponse"
                    }
                  },
                  "required": ["minted", "success", "response"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "raid": {
                          "type": "string"
                        }
                      },
                      "required": ["raid"]
                    },
                    {
                      "$ref": "#/components/schemas/PathValidationError"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/leaderboard/individual/pantheon/{version}/{category}": {
      "get": {
        "summary": "/leaderboard/individual/pantheon/{version}/{category}",
        "description": "Individual leaderboards for a specific pantheon version",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "version",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["clears", "freshClears", "score"]
            },
            "required": true,
            "name": "category",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 100,
              "default": 50
            },
            "required": false,
            "name": "count",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+n?$"
            },
            "required": false,
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "default": 1,
              "description": "Page number of leaderboard data. Ignored if `search` is provided. Defaults to 1"
            },
            "required": false,
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "minted": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "response": {
                      "$ref": "#/components/schemas/LeaderboardIndividualPantheonResponse"
                    }
                  },
                  "required": ["minted", "success", "response"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "membershipId": {
                          "type": "string",
                          "pattern": "^\\d+n?$"
                        }
                      },
                      "required": ["membershipId"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "path": {
[...]
